/*  Create a `<div>` box with:
   - Width: 300px
   - Height: 150px
   - Background-color: lightblue
   - Border: 2px solid navy */

.task1{
    height: 150px;
    width: 300px;
    background-color: lightblue;
    border: 2px solid navy;
}

.task2{
    color: darkblue;
    font-size: 16px;
}

/* 3️⃣ Create 3 buttons with:
   - Each having different background-color (e.g., red, green, yellow)
   - Width: 100px
   - Height: 40px
   - Border: none */

   .task3{
    Width: 100px;
    Height: 40px;
    Border: none ;
   }

   #red{
    background-color: red;
   }
   #green{
    background-color: green;
   }
   #yellow{
    background-color: yellow;
   }

   /* 4️⃣ Create a circle using a div:
   - Width: 100px
   - Height: 100px
   - Border-radius: 50%
   - Background-color: orange
   - Border: 2px dashed brown */

   .task4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orange;
    border: 2px dashed brown;
   }

   /* 5️⃣ Create a colored card layout:
   - Card width: 250px
   - Card height: 300px
   - Background: gradient (e.g., from blue to purple)
   - Border: 1px solid gray */

   .task5{
     width: 250px;
    height: 300px;
    Background: linear-gradient(to bottom ,blue, purple) ;
    Border: 1px solid gray;
   }

   /* 1️⃣ Create a header section:
   - Width: 100%
   - Height: 100px
   - Background-color: teal
   - Text color: white
   - Add a border at the bottom: 3px solid darkcyan */

   .task6{
    Width: 100%;
    Height: 100px;
    Background-color: teal;
   color: white;
    border-bottom: 3px solid darkcyan
   }

   /* 2️⃣ Create a content box:
   - Width: 400px
   - Height: 200px
   - Background-color: lightgray
   - Border: 2px dashed black
   - Text color: #333 */

   .task7{
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    border: 2px dashed black;
    color: #333;
   }

   .profile-card {
  width: 300px;
  height: 350px;
  background-image: url(pexels-souvenirpixels-414612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #333;
  border-radius: 10px;
}

/* 4️⃣ Create a footer section:
   - Width: 100%
   - Height: 80px
   - Background: linear-gradient(to right, #4b6cb7, #182848)
   - Border-top: 3px solid #000
   - Text color: white */


.footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  border-top: 3px solid #000;
  color: white;
}

/* 5️⃣ Create a notification box:
   - Width: 250px
   - Height: 100px
   - Background-color: #fff3cd
   - Border-left: 5px solid #ffc107
   - Text color: #856404 */

.notification-box {
  width: 250px;
  height: 100px;
  background-color: #fff3cd;
  border-left: 5px solid #ffc107;
  color: #856404;

}

